<!DOCTYPE html>
<html ng-app="eureka">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width">
  <title>My Steroids App</title>

  <link rel="stylesheet" href="/components/ionic/css/ionic.min.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="/javascripts/onerror.js"></script>
  <script src="/javascripts/console.log.js"></script>

  <!-- cordova.js is served from localhost to ensure the correct version -->
  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/components/ionic/js/ionic.bundle.min.js"></script>
  <script src="/components/persistence/lib/persistence.js"></script>
  <script src="/components/persistence/lib/persistence.store.sql.js"></script>
  <script src="/components/persistence/lib/persistence.store.websql.js"></script>
  <script src="/javascripts/application.js"></script>
  <script src="/javascripts/app.js"></script>
</head>
<body style="font-size:88px" class="content" ng-controller="MainCtrl">

  <div class="bar bar-header bar-light" style="position:fixed;top:0;z-index:5;">
    <button class="button icon ion-home"></button>
    <h1 class="title">{{survey.name}}</h1>
    <button class="button"><span class="{{animate}}">{{survey.current}}</span>/{{survey.max}}</button>
  </div>

  <div class="list has-header">

    <div class="item item-divider">
      <span class="input-label">Personal data</span>
    </div>

    <div class="item" href="#">
     <div>
         <p>เพศ</p>
         <input type="radio" ng-model="gender" name="sex" value="male"> ชาย<br>
         <input type="radio" ng-model="gender" name="sex" value="female"> หญิง
     </div>
    </div>
    
    <div class="item" href="#">
        <div>
            <p>Party มาคนเดียว มากับพี่ มากับเพื่อน มากับครอบครัว</p>
            <input type="radio" name="party" ng-model="party" value="single"> มาคนเดียว<br>
                <input type="radio" name="party" ng-model="party" value="old_brather"> มากับพี่<br>
                    <input type="radio" name="party" ng-model="party" value="friend"> มากับเพื่อน<br>
                        <input type="radio" name="party" ng-model="party" value="family"> มากับครอบครัว
                    </div>
    </div>
    <div class="item" href="#" ng-show="!isSingle()">
        <div>
            <span class="input-label">มากี่คน</span>
            <input type="number" ng-model="person" placeholder="0">
        </div>
    </div>
    
    <div class="item" href="#">
        <div>
            <p>รูปแบบการใช้บริการ</p>
            <input type="radio" name="serviceType" ng-model="serviceType" value="DI"> DI<br>
            <input type="radio" name="serviceType" ng-model="serviceType" value="TA"> Take Away
        </div>
    </div>
    
    <div class="item" href="#">
        <div>
            <span class="input-label">5. ทำไมคุณเลือกที่จะสั่งแบบซื้อกลับบ้าน</span>
            <input type="text" ng-model="orderReason" placeholder="ไม่รู้">
        </div>
    </div>


    <div class="item" href="#">
        <div>
			<p>6. คุณมาใช้บริการที่ KFC สาขานี้เป็นครั้งแรกใช่หรือไม่?</p>
			<input type="radio" name="firstTimeYN" value="yes" ng-model="frequecy"> ใช่<br>
			<input type="radio" name="firstTimeYN" value="no" ng-model="frequency"> ไม่ใช่
        </div>
    </div>

    <div class="item" href="#" ng-show="isFirstTime()">
		  <div>
			 <span class="input-label">7. ในระยะเวลา 3 เดือนที่ผ่านมา (ไม่รวมครั้งนี้) คุณมาใช้บริการที่ KFC สาขานี้กี่ครั้ง</span>
			 <input type="number" placeholder="0" ng-model="frequenceTime">
      </div>
    </div>

    <div class="item" href="#">
		  <div>
			 <span class="input-label">8. ในระยะเวลา 3 เดือน ที่ผ่านมาคุณเดินทางผ่านร้าน KFC สาขานี้ บ่อยแค่ไหน</span>
			 <input type="number" placeholder="0" ng-model="update">
      </div>
    </div>

    <div class="item" href="#">
      <div>
       <h2 class="input-label">Result</h2>
       <span>{{status}}</span>
      </div>
    </div>

    <div class="item">
      <div>
        <!-- <button class="button button-block button-positive" style="margin-top:20px;" ng-click="openModal()">
          Submit
        </button> -->
        <!-- <button class="button button-block button-positive" style="margin-top:20px;" ng-click="sendResult()">
          Submit
        </button> -->
        <button class="button button-block button-positive" style="margin-top:20px;" ng-click="openModal()">
          Submit
        </button>
      </div>
    </div>





<!--
    <div class="item item-divider">
      Main Questionires
    </div>
    <a class="item" href="#">
      item-1
    </a>
    <a class="item" href="#">
      item-2
    </a>
    <a class="item" href="#">
      item-3
    </a>
    <a class="item" href="#">
      item-4
    </a>
  </div>
-->


  <!-- <div class="padding has-header">
    <button class="button button-block button-positive" style="margin-top:20px;" ng-click="openModal()">
      Submit
    </button>
  </div> -->

  <!-- <div class="bar bar-footer bar-dark" style="position:fixed;bottom:0;z-index:5;">
    <button class="button button-clear pull-left">{{survey.complete}}%</button>
    <button class="button button-clear pull-right">Right</button>
  </div> -->

  <script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
      <h3>Saved on : {{question}}</h3>
      <h3>Position is : Latitude = {{position.lat}} , Longitude = {{position.long}}</h3>
      <button class="button button-full button-positive" ng-click="createResult()">Close</button>
    </ion-content>
  </ion-modal-view>
</script>

  <!-- <script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
  <h1 class="title">Confirm Result</h1>
  // <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button
  </ion-header-bar>
  <ion-content class="padding">
  <p style="color:#4a87ee;">
    The result had be added into mobile.
  </p>
  <div class="row" style="border-top:1px dashed #eee;text-align:center;">
    <div class="col col-50">
      <p style="color:#ef4e3a;" ng-click="cancelResult()">
        Cancle
      </p>
    </div>
    <div class="col" style="border-left:1px dashed #eee;">
      <p style="color:#4a87ee;" ng-click="createResult()">
        Save
      </p>
    </div>
  </div>
  <!--  
  //This is Example input and return parameters to Main page. 
  //
  // <div class="list">
  // <label class="item item-input">
  // <span class="input-label">First Name</span>
  // <input ng-model="newUser.firstName" type="text">
  // </label>
  // <label class="item item-input">
  // <span class="input-label">Last Name</span>
  // <input ng-model="newUser.lastName" type="text">
  // </label>
  // <label class="item item-input">
  // <span class="input-label">Email</span>
  // <input ng-model="newUser.email" type="text">
  // </label>
  // <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
  </div> 
  -->
  <!-- </div> 
  </ion-content>
  </ion-modal-view>
  </script> -->

</body>
</html>
